/*  CSS para proyecto {Futuro Infantil}			              */
/*  Version 1.0                                               */
/*  media: SCREEN                      						  */
/*  Fecha de creación 26/09/2011                              */

/*  HISTORIAL DE MODIFICACIONES                               */
/*  dd/mm/aaaa Comentario de la modificacion realizada        */

article{margin: 0px; padding: 0px;}
article, footer, header, section, aside{display: block;margin: 0px; padding: 0px;}


/*  REDEFINICION DE ELEMENTOS HTML  */
body{background:url(../img/html/fondo.jpg) repeat-x 0px 0px #12141B; margin: 0px; padding: 0px; font: 13px Arial, Helvetica, sans-serif; color: #FFF;}
table{text-align: center;}
td{}

h1{color: #FC6202; font: bold 28px Arial, Helvetica, sans-serif; text-align: right; margin: 0px 0px 20px 0px; border-bottom: 3px solid #32374A; padding: 17px 0px 7px 0px;}
h2{color: #FF6301; font: bold 22px Arial, Helvetica, sans-serif;}
h3{}
h4{}
h5{}
h6{}

strong, b{}

a:link{color: #666; text-decoration: underline;}
a:visited{color: #666; text-decoration: underline;}
a:hover{color: #666; text-decoration: none;}
a:active{color: #666; text-decoration: none;}

:focus{outline: none;}

form{margin: 0px; padding: 0px;}

label{margin: 0px; padding: 0px; cursor: pointer;}

ul{}

button{margin: 0px; padding: 0px; cursor: pointer; border: none;}


/*Estilso Css mas usados*/
.align_left{text-align:left;}
.align_right{text-align:right;}
.align_center{text-align: center;}

.float_left{float:left;}
.float_right{float:right;}

#ico_contacto{background: url(../img/html/ico_tit_contacto.gif) no-repeat 0px 0px;}
#ico_ropa{background: url(../img/html/ico_tit_ropa.gif) no-repeat 0px 0px; padding-bottom: 12px;}


/*HEADER*/
header{width: 940px; margin: 0px auto; height: 177px;}
header #logo_polerones{background: url(../img/html/logo_polerenos.jpg) no-repeat 0px 26px; float: left; padding: 26px 0px 0px 0px; width: 216px; height: 98px; font-size: 1px; letter-spacing: -1px;}
header #logo_polerones a:link, header #logo_polerones a:visited{width: 216px; height: 98px; display: block; text-indent: -9000px;}

header ul{
	margin: 0px;
	padding: 26px 0px 0px 0px;
	float: right;
	list-style: none;
	/*width: 455px;*/
	/*font-size: 1px;*/
	letter-spacing: -1px;
	
	/*joe*/
	font-size: 18px;
	font-weight: bold;
}

header ul li{
	margin: 0px;
	float: left;
	height: 100px;
}

header ul li a:link,
header ul li a:visited{
	/*height: 100px;*/
	display: block;
	
	/*joe*/
	
	padding-top: 27px;
	padding-left: 10px;
	
	color: white;
	text-decoration: none;
	text-shadow: 2px 1px 5px black;
}

header ul li.topmenu {background: url(../img/botones/bot_catalogo.gif) no-repeat 0px 0px; width: 124px;}
header ul li.topmenu:hover {background: url(../img/botones/bot_catalogo_over.gif) no-repeat 0px 0px; width: 124px;}
/*header ul li.topmenu a:hover, header ul li.topmenu a:active{background: url(../img/botones/bot_catalogo_over.gif) no-repeat 0px 0px;}*/
header ul li.topmenu.activo{background: url(../img/botones/bot_catalogo_over.gif) no-repeat 0px 0px;}

header ul li#bot_h_01{background: url(../img/botones/bot_catalogo.gif) no-repeat 0px 0px; width: 124px;}
header ul li#bot_h_01 a:hover, header ul li#bot_h_01 a:active{background: url(../img/botones/bot_catalogo_over.gif) no-repeat 0px 0px;}
header ul li#bot_h_01.activo{background: url(../img/botones/bot_catalogo_over.gif) no-repeat 0px 0px;}

header ul li#bot_h_02{background: url(../img/botones/bot_ropa.gif) no-repeat 0px 0px; width: 124px;}
header ul li#bot_h_02 a:hover, header ul li#bot_h_02 a:active{background: url(../img/botones/bot_ropa_over.gif) no-repeat 0px 0px;}
header ul li#bot_h_02.activo{background: url(../img/botones/bot_ropa_over.gif) no-repeat 0px 0px;}

header ul li#bot_h_03{background: url(../img/botones/bot_cotiza_ahora.gif) no-repeat 0px 0px; width: 110px;}
header ul li#bot_h_03 a:hover, header ul li#bot_h_03 a:active{background: url(../img/botones/bot_cotiza_ahora_over.gif) no-repeat 0px 0px;}
header ul li#bot_h_03.activo{background: url(../img/botones/bot_cotiza_ahora_over.gif) no-repeat 0px 0px;}

header ul li#bot_h_04{background: url(../img/botones/bot_contacto.gif) no-repeat 0px 0px; width: 97px;}
header ul li#bot_h_04 a:hover, header ul li#bot_h_04 a:active{background: url(../img/botones/bot_contacto_over.gif) no-repeat 0px 0px;}
header ul li#bot_h_04.activo{background: url(../img/botones/bot_contacto_over.gif) no-repeat 0px 0px;}


/*MAIN*/
#main{background: url(../img/html/fondo_contenidos.jpg) repeat-x 0px 0px #000; clear: both; overflow: hidden;}
#main.home{background: url(../img/html/fondo_contenidos_home.jpg) repeat-x 0px 0px #000;}
#main #contenidos{width: 940px; margin: 0px auto; padding: 20px 0px;}


/*HOME: TIPS*/
#banner_home{background: url(../img/html/fondo_banner_home.gif) repeat-x 0px 0px #383838; margin: 0px; clear: both; padding: 0px; line-height: 130%; height: 270px;}

/*joe*/
#banner_home p{
	margin-left: 20px;
	/*padding: 0px 30px 0px 0px;*/
	font-size: 1.2em;
	text-align: justify;
	
	text-shadow: 2px 2px 5px black;
}

#banner_home ul{margin: 0px auto; padding: 0px; list-style: none; width: 800px; height: 270px; overflow: hidden;}
#banner_home ul li{background: url(../img/fotos_banners/img_banner_home_01.jpg) no-repeat 0px 5px; margin: 0px; height: 220px; padding: 50px 0px 0px 550px; float: left;}

/*joe*/
#banner_home button{
	background: url(../img/botones/bot_cotiza_ahora.png) no-repeat 0px 0px;
	font-size: 1px;
	letter-spacing: -1px;
	margin: 20px 0px 0px -10px;
	padding: 0px; border: none;
	cursor: pointer;
	width: 270px;
	height: 125px;
	position: absolute;
}

#banner_home img{border: none;}
#banner_home a:link, #banner_home a:visited{color: #FFF; text-decoration: none;}
#banner_home a:hover, #banner_home a:active{color: #FFF; text-decoration: none;}


/*TIPS*/
#tips{clear: both; margin: 0px; padding: 20px 0px 0px 0px; width: 940px; overflow: hidden;}
#tips h2{margin: 0px; padding: 15px 0px 0px 80px; min-height: 74px; color: #FF6301; font: bold 22px Arial, Helvetica, sans-serif;}
#tips p{margin: 0px; padding: 0px;}
#tips ul{margin: 0px; padding: 0px; list-style: none;}
#tips ul li{background: url(../img/html/img_separador_tips.jpg) no-repeat 217px 30px; margin: 0px; padding: 0px 10px 0px 0px; float: left; width: 217px;}
#tips img{border: none;}

#tips .tips_01 h2{background: url(../img/html/img_n_01.gif) no-repeat 0px 0px;}
#tips .tips_02 h2{background: url(../img/html/img_n_02.gif) no-repeat 0px 0px;}
#tips .tips_03 h2{background: url(../img/html/img_n_03.gif) no-repeat 0px 0px;}
#tips .tips_04 h2{background: url(../img/html/img_n_04.gif) no-repeat 0px 0px; color: #00B715;}

#tips .imagen{text-align: center; margin: 0px; padding: 0px; width: 227px; height: 150px;}

#tips a:link, #tips a:visited{color: #FFF; text-decoration: none;}
#tips a:hover, #tips a:active{color: #FFF; text-decoration: underline;}


/*OTROS SERVICIOS*/
#otros_servicios{clear: both; margin: 0px; padding: 0px;}
#otros_servicios article{float: left; width: 444px; margin: 0px 0px 10px 0px; padding: 0px; min-height: 260px;}
#otros_servicios p{margin: 0px; padding: 0px;}
#otros_servicios ul{margin: 0px; padding: 0px; list-style: none;}
#otros_servicios ul li{margin: 0px; padding: 0px;}

#otros_servicios #servicios_col01{margin-right: 13px; border: 7px solid #9E9F9F;}
#otros_servicios #servicios_col02{margin: 0px; border: 7px solid #FA7F0D;}

#otros_servicios .imagen{width: 440px; height: 260px; position: relative;}
#otros_servicios .contenido{background: #000; height: 100px; margin-top: -120px; padding: 10px; opacity: 0.7; position: absolute; width: 424px;}
#otros_servicios .contenido img{float: right; margin: 0px; padding: 0px;}

#otros_servicios a:link, #otros_servicios a:visited{color: #FFF; text-decoration: none;}
#otros_servicios a:hover, #otros_servicios a:active{color: #FFF; text-decoration: underline;}


/*FONOS*/
#cont_fonos_header{background: #000;clear: both; height: 70px; font: bold 22px Arial, Helvetica, sans-serif;}
#fonos{width: 900px; margin: 0px auto; padding: 10px 0px 0px 0px; color: #FF6301;}
#fonos address{background: url(../img/html/img_direccion.gif) no-repeat 0px 0px; padding: 0px 0px 0px 65px; margin: 0px; font-style: normal; float: left; width: 280px;}
#fonos .fono_cel{background: url(../img/html/img_fono_cel.gif) no-repeat 0px 0px; padding: 0px 0px 0px 50px; float: left; width: 250px;}
#fonos .fono_fijo{background: url(../img/html/img_fono_fijo.gif) no-repeat 0px 0px; padding: 10px 0px 0px 60px; float: left; width: 150px; min-height: 50px;}


/*JQUERY*/
#tips .jcarousel-container {width: 940px; margin: 0px; padding: 0px;}
#tips .jcarousel-direction-rtl {direction: rtl;}

#tips .jcarousel-clip {overflow: hidden;}
#tips .jcarousel-clip-horizontal{width: 900px; margin: 0px; padding: 0px;}

#tips .jcarousel-next-horizontal {position: absolute; top: 6px; border: 10px solid #000; right: 10px; width: 34px; height: 34px; cursor: pointer; background: url(../img/botones/bot_carrusel_right_footer.gif) no-repeat 0px 0px;}
#tips .jcarousel-direction-rtl .jcarousel-next-horizontal {left: 5px; right: auto; background: url(../img/botones/bot_carrusel_right_footer.gif) no-repeat 0px 0px;}
#tips .jcarousel-next-horizontal:hover, #tips .jcarousel-next-horizontal:focus {background: url(../img/botones/bot_carrusel_right_footer.gif) no-repeat 0px 0px;}

#tips .jcarousel-next-disabled-horizontal,
#tips .jcarousel-next-disabled-horizontal:hover,
#tips .jcarousel-next-disabled-horizontal:focus,
#tips .jcarousel-next-disabled-horizontal:active {background: url(../img/botones/bot_carrusel_right_disabled_footer.gif) no-repeat 0px 0px;}

#tips .jcarousel-prev-horizontal {position: absolute; top: 6px; left: 10px; width: 34px; height: 34px; cursor: pointer; background: url(../img/botones/bot_carrusel_left_footer.gif) no-repeat 0px 0px;}

#tips .jcarousel-direction-rtl .jcarousel-prev-horizontal {left: auto; right: 5px; background: url(../img/botones/bot_carrusel_left_footer.gif) no-repeat 0px 0px;}

#tips .jcarousel-prev-disabled-horizontal,
#tips .jcarousel-prev-disabled-horizontal:hover,
#tips .jcarousel-prev-disabled-horizontal:focus,
#tips .jcarousel-prev-disabled-horizontal:active {background: url(../img/botones/bot_carrusel_left_disabled_footer.gif) no-repeat 0px 0px;}


/*ROPA INSTITUCIONAL*/
#ropa{}
#ropa h2{font: bold 13px Arial, Helvetica, sans-serif; color: #FFF; margin: 0px; padding: 0px 0px 8px 0px;}
#ropa h2 strong, #ropa h2 b{font: bold 13px Arial, Helvetica, sans-serif; color: #FF6301;}
#ropa p{margin: 0px; padding: 0px; width: 320px;}

#ropa .fila{clear: both; margin: 0px 0px 30px 0px; min-height: 300px; padding: 0px;}
#ropa .fila .columna{background: url(../img/html/img_fondo_ropa.png) no-repeat 0px 0px; margin: 0px 10px 0px 0px; height: 280px; width: 410px; padding: 20px 10px 0px 17px; float: left;}

/* Joe */
#ropa .fila .columna .tabs{
	/*background: url(../img/html/bullet.gif) no-repeat 10px 198px #3D3D3D;*/
	background: #3D3D3D;
	float: right;
	width: 67px;
	height: 208px;
	padding: 10px 7px 0px 7px;
	margin: 38px 0px 0px 0px;
}

#ropa .fila .columna .tabs ul{padding: 0px; list-style: none; text-align: center; width: 65px; margin: 0px;}

/* Joe */
#ropa .fila .columna .tabs ul li{
	margin: 0px 0px 7px 0px;
	padding: 0px;
}

#ropa .fila .columna .tabs ul li img{
	box-shadow: 0px 0px 10px black;
}

#ropa .fila .columna .tabs .activo{border: 2px solid #F60;}


/*FORMULARIO*/
#formulario{clear: both; width: 740px; margin: 0px auto;}
#formulario #col_01{width: 327px; margin: 0px; padding: 0px 60px 0px 0px; float: left;}
#formulario #col_02{width: 345px; margin: 0px; padding: 0px; float: left;}
#formulario p{margin: 0px; padding: 0px 0px 10px 0px; clear: both;}
#formulario label{display: block; margin: 0px; padding: 0px 0px 4px 0px; font: bold 14px Arial, Helvetica, sans-serif;}
#formulario input{background: #FFF; font: 12px Arial, Helvetica, sans-serif; padding: 4px 0px 0px 5px; width: 322px; height: 24px; border: 1px solid #FFF;}
#formulario textarea{background: #FFF; font: 12px Arial, Helvetica, sans-serif; padding: 4px 0px 0px 5px; width: 341px; height: 122px; border: 1px solid #FFF;}
#formulario button{background: url(../img/botones/bot_enviar.png) no-repeat 0px 0px; width: 162px; height: 60px; cursor: pointer; margin: 0px; padding: 0px;}



